@{
    ViewData["Title"] = "Upload";
}

<h1>Upload movies</h1>

<hr />

<form method="post" asp-controller="Movies" asp-action="Upload">
    <p><textarea rows="5" cols="30" name="movieIdsString"></textarea></p>
    <p><button type="submit">Upload</button></p>
</form>

<form method="post" asp-controller="Home" asp-action="Index">
    <p><button type="submit">Go to the home page</button></p>
</form>


