<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="logDirectory" value="${basedir}/Logs/" />

  <targets>
    <target name="text" type="File" fileName="${var:logDirectory}/${date:format=yyyyMMdd}.log" layout="${date:format=HH\:mm\:ss} ${level:upperCase=true} [${logger:shortName=true}] ${message}" />
    <target name="json" type="File" fileName="${var:logDirectory}/${date:format=yyyyMMdd}.json">
      <layout type="JsonLayout" includeAllProperties="true" excludeProperties="json">
        <attribute name="time" layout="${date:format=HH\:mm\:ss}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="logger" layout="${logger:shortName=true}" />
        <attribute name="message" layout="${message:raw=true}" />
        <attribute name="json" encode="false" layout="${event-properties:json}" />
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" writeTo="json">
      <filters defaultAction="Ignore">
        <when condition="length('${event-properties:json}') > 0" action="LogFinal" />
      </filters>
    </logger>
    <logger name="*" writeTo="text" />
  </rules>
</nlog>